// Buttons colors
$button-min: #fd594d;
$button-max: #febb1a;
$button-open: #00cc46;

// Navigation colors
$main-nav-background: rgba(17, 16, 34, 1);
$lists-nav-background: rgba(33, 36, 53, 0.9);
$lists-nav-background-function: rgba(48, 49, 84, 1);

// Section colors
$section-background:#f7f7f7;
$section-issue-border: #e6e2e2;
$section-issue:white;

// Star colors
$star-open:white;
$star-closed:#20223a;
$star-border:#e5e5e5;

// Fonts color
$date-font-color:#9897a1;
$issue-font-color:black;
$status-lists-nav-font-color:white;
$issue-number-font-color:#7e7f8a;

